.blog_section{
   padding: 80px 0 50px;
   background: url('../../assets/blog/reviews.jpg')no-repeat center center;
   background-size: cover;
   background-attachment: fixed;
overflow: hidden;
}

.blog_section .user_img img{
   width: 100px;
   height: 100px;
   object-fit: cover;
   border-radius: 100%;
   margin: 25px;
}

.carousel.slide .carousel-inner {
   overflow: unset;
}

.carousel.slide .carousel-inner .carousel-caption {
   position: relative;
   right: unset;
   left: unset;
}


.blog_section .carousel.slide .carousel-inner .carousel-caption p {
   font-size: 1.7rem;
   line-height: 1.45;
   font-weight: 400;
   padding: 0 12%;
   margin-bottom: 25px;
}
.blog_section .carousel.slide .carousel-inner .carousel-caption h5 {
   font-size: 1rem;
   
   margin-bottom: 32px;
}
.blog_section .carousel.slide .carousel-inner .carousel-caption i {
  color: var(--yellow);
  margin-right: 5px;
}


@media screen and (max-width:767px) {
   .blog_section .carousel.slide .carousel-inner .carousel-caption p {
      font-size: 1rem;
      
   }
}